@page
@model PortfolioRazorPages.Pages.IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <h1>@Model.Title</h1>
    <p>Hola, soy [Tu Nombre], un apasionado desarrollador web con experiencia en [Tecnologías].</p>
    <p>Mis objetivos profesionales incluyen [Objetivos Profesionales].</p>
</div>
